.product {
  &__description {
    color: #F00;
    border: 1px solid #ccc;
  }

  div ul li {
    height: 20px;
  }

  &__title {
    &--active {
      color: #33dd33;
    }

    background: #f00;
  }
}

